In [1]:
import os
import pandas as pd

In [2]:
import pycountry

In [3]:
df = pd.read_csv("new_gapminder.csv")

In [4]:
df["country"] = df["country"].replace(["Brunei", ],["Brunei Darussalam"])

In [5]:
country = list(df["country"].unique())

In [6]:
country_code = []
for co in country:
    country_code.append(pycountry.countries.get(name=co))

In [7]:
country_new = country.copy()
for i in range(len(country_new)):
    if country_new[i] == 'Brunei':
        country_new[i] = 'Brunei Darussalam'
    elif country_new[i] == 'Czech Republic':
        country_new[i] = 'Czechia'
    elif country_new[i] == "Cote d'Ivoire":
        country_new[i] = "Côte d'Ivoire"
    elif country_new[i] == 'Iran':
        country_new[i] = 'Iran, Islamic Republic of'  
    elif country_new[i] == 'Micronesia, Fed. Sts.':
        country_new[i] = 'Micronesia, Federated States of'  
    elif country_new[i] == 'Moldova':
        country_new[i] = 'Moldova, Republic of'      
    elif country_new[i] == 'Russia':
        country_new[i] = 'Russian Federation' 
    elif country_new[i] == 'North Korea':
        country_new[i] = "Korea, Democratic People's Republic of" 
    elif country_new[i] == 'St. Lucia':
        country_new[i] = "Saint Lucia"
    elif country_new[i] == 'St. Vincent and the Grenadines':
        country_new[i] = "Saint Vincent and the Grenadines"
    elif country_new[i] == 'Vietnam':
        country_new[i] = "Viet Nam"
    elif country_new[i] == 'Bolivia':
        country_new[i] = "Bolivia, Plurinational State of"
    elif country_new[i] == 'South Korea':
        country_new[i] = "Korea, Republic of"
    elif country_new[i] == 'Venezuela':
        country_new[i] = "Venezuela, Bolivarian Republic of"
    elif country_new[i] == 'Syria':
        country_new[i] = "Syrian Arab Republic"
    elif country_new[i] == 'Swaziland':
        country_new[i] = "Eswatini"
    elif country_new[i] == 'Tanzania':
        country_new[i] = "Tanzania, United Republic of"
print(country_new)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia, Plurinational State of', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', "Korea, Democratic People's Republic of", 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Korea, Republic of', 'South Sudan', 'Spain', 'Sri Lanka', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Sudan', 'Suriname', 'Eswatini', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

In [8]:
country_code = []
for co in country_new:
    con = str(pycountry.countries.get(name=co))[17:19]
    country_code.append(con)

In [9]:
str(pycountry.countries.get(name="Brazil"))[17:19]

'BR'

In [10]:
len(country_new)

178

In [11]:
len(country)

178

In [12]:
country_df = pd.DataFrame({"country":country,"other_name":country_new,"alpha_2 code":country_code})
country_df

         country                         other_name alpha_2 code
0    Afghanistan                        Afghanistan           AF
1        Albania                            Albania           AL
2        Algeria                            Algeria           DZ
3        Andorra                            Andorra           AD
4         Angola                             Angola           AO
..           ...                                ...          ...
173    Venezuela  Venezuela, Bolivarian Republic of           VE
174      Vietnam                           Viet Nam           VN
175        Yemen                              Yemen           YE
176       Zambia                             Zambia           ZM
177     Zimbabwe                           Zimbabwe           ZW

[178 rows x 3 columns]

In [13]:
df_big = df.merge(country_df, how = "inner", on = "country")
df_big

,country,year,Life_expectancy,Income,Population,Continent,other_name,alpha_2 code
0,Afghanistan,1800,28.2,603,3280000,Asia,Afghanistan,AF
1,Afghanistan,1801,28.2,603,3280000,Asia,Afghanistan,AF
2,Afghanistan,1802,28.2,603,3280000,Asia,Afghanistan,AF
3,Afghanistan,1803,28.2,603,3280000,Asia,Afghanistan,AF
4,Afghanistan,1804,28.2,603,3280000,Asia,Afghanistan,AF
...,...,...,...,...,...,...,...,...
42893,Zimbabwe,2036,66.0,2900,19500000,Africa,Zimbabwe,ZW
42894,Zimbabwe,2037,66.2,2960,19900000,Africa,Zimbabwe,ZW
42895,Zimbabwe,2038,66.4,3020,20200000,Africa,Zimbabwe,ZW
42896,Zimbabwe,2039,66.6,3080,20500000,Africa,Zimbabwe,ZW
42897,Zimbabwe,2040,66.8,3140,20900000,Africa,Zimbabwe,ZW

In [14]:
d2 = list(os.listdir("flags/"))

In [15]:
len(d2)

71

In [16]:
d2[0][:2]

'AI'

In [17]:
import shutil
for i in range(len(d2)):
    if d2[i][:2] in country_code:
        shutil.move("flags/" + d2[i],"new_flags/" + d2[i])

In [18]:
d3 = list(os.listdir("new_flags/"))
len(d3)

178

In [19]:
d4 = []
for i in range(len(d3)):
    d4.append(d3[i][:2])

In [20]:
len(country_code)

178

In [21]:
len(d4)

178

In [27]:
country_dict = {}
for i in range(len(country_code)):
    country_dict[country_code[i]] = country[i]
country_dict

{'AF': 'Afghanistan',
 'AL': 'Albania',
 'DZ': 'Algeria',
 'AD': 'Andorra',
 'AO': 'Angola',
 'AG': 'Antigua and Barbuda',
 'AR': 'Argentina',
 'AM': 'Armenia',
 'AU': 'Australia',
 'AT': 'Austria',
 'AZ': 'Azerbaijan',
 'BH': 'Bahrain',
 'BD': 'Bangladesh',
 'BB': 'Barbados',
 'BY': 'Belarus',
 'BE': 'Belgium',
 'BZ': 'Belize',
 'BJ': 'Benin',
 'BT': 'Bhutan',
 'BO': 'Bolivia',
 'BA': 'Bosnia and Herzegovina',
 'BW': 'Botswana',
 'BR': 'Brazil',
 'BN': 'Brunei Darussalam',
 'BG': 'Bulgaria',
 'BF': 'Burkina Faso',
 'BI': 'Burundi',
 'KH': 'Cambodia',
 'CM': 'Cameroon',
 'CA': 'Canada',
 'CF': 'Central African Republic',
 'TD': 'Chad',
 'CL': 'Chile',
 'CN': 'China',
 'CO': 'Colombia',
 'KM': 'Comoros',
 'CR': 'Costa Rica',
 'CI': "Cote d'Ivoire",
 'HR': 'Croatia',
 'CU': 'Cuba',
 'CY': 'Cyprus',
 'CZ': 'Czech Republic',
 'DK': 'Denmark',
 'DJ': 'Djibouti',
 'DM': 'Dominica',
 'DO': 'Dominican Republic',
 'EC': 'Ecuador',
 'EG': 'Egypt',
 'SV': 'El Salvador',
 'GQ': 'Equatorial Guinea',
 'ER': 'Eritrea',
 'EE': 'Estonia',
 'ET': 'Ethiopia',
 'FJ': 'Fiji',
 'FI': 'Finland',
 'FR': 'France',
 'GA': 'Gabon',
 'GE': 'Georgia',
 'DE': 'Germany',
 'GH': 'Ghana',
 'GR': 'Greece',
 'GD': 'Grenada',
 'GT': 'Guatemala',
 'GN': 'Guinea',
 'GW': 'Guinea-Bissau',
 'GY': 'Guyana',
 'HT': 'Haiti',
 'HN': 'Honduras',
 'HU': 'Hungary',
 'IS': 'Iceland',
 'IN': 'India',
 'ID': 'Indonesia',
 'IR': 'Iran',
 'IQ': 'Iraq',
 'IE': 'Ireland',
 'IL': 'Israel',
 'IT': 'Italy',
 'JM': 'Jamaica',
 'JP': 'Japan',
 'JO': 'Jordan',
 'KZ': 'Kazakhstan',
 'KE': 'Kenya',
 'KI': 'Kiribati',
 'KW': 'Kuwait',
 'LV': 'Latvia',
 'LB': 'Lebanon',
 'LS': 'Lesotho',
 'LR': 'Liberia',
 'LY': 'Libya',
 'LT': 'Lithuania',
 'LU': 'Luxembourg',
 'MG': 'Madagascar',
 'MW': 'Malawi',
 'MY': 'Malaysia',
 'MV': 'Maldives',
 'ML': 'Mali',
 'MT': 'Malta',
 'MH': 'Marshall Islands',
 'MR': 'Mauritania',
 'MU': 'Mauritius',
 'MX': 'Mexico',
 'FM': 'Micronesia, Fed. Sts.',
 'MD': 'Moldova',
 'MN': 'Mongolia',
 'ME': 'Montenegro',
 'MA': 'Morocco',
 'MZ': 'Mozambique',
 'MM': 'Myanmar',
 'NA': 'Namibia',
 'NP': 'Nepal',
 'NL': 'Netherlands',
 'NZ': 'New Zealand',
 'NI': 'Nicaragua',
 'NE': 'Niger',
 'NG': 'Nigeria',
 'KP': 'North Korea',
 'MK': 'North Macedonia',
 'NO': 'Norway',
 'OM': 'Oman',
 'PK': 'Pakistan',
 'PA': 'Panama',
 'PG': 'Papua New Guinea',
 'PY': 'Paraguay',
 'PE': 'Peru',
 'PH': 'Philippines',
 'PL': 'Poland',
 'PT': 'Portugal',
 'QA': 'Qatar',
 'RO': 'Romania',
 'RU': 'Russia',
 'RW': 'Rwanda',
 'WS': 'Samoa',
 'ST': 'Sao Tome and Principe',
 'SA': 'Saudi Arabia',
 'SN': 'Senegal',
 'RS': 'Serbia',
 'SC': 'Seychelles',
 'SL': 'Sierra Leone',
 'SG': 'Singapore',
 'SI': 'Slovenia',
 'SB': 'Solomon Islands',
 'SO': 'Somalia',
 'ZA': 'South Africa',
 'KR': 'South Korea',
 'SS': 'South Sudan',
 'ES': 'Spain',
 'LK': 'Sri Lanka',
 'LC': 'St. Lucia',
 'VC': 'St. Vincent and the Grenadines',
 'SD': 'Sudan',
 'SR': 'Suriname',
 'SZ': 'Swaziland',
 'SE': 'Sweden',
 'CH': 'Switzerland',
 'SY': 'Syria',
 'TJ': 'Tajikistan',
 'TZ': 'Tanzania',
 'TH': 'Thailand',
 'TL': 'Timor-Leste',
 'TG': 'Togo',
 'TO': 'Tonga',
 'TT': 'Trinidad and Tobago',
 'TN': 'Tunisia',
 'TR': 'Turkey',
 'TM': 'Turkmenistan',
 'UG': 'Uganda',
 'UA': 'Ukraine',
 'AE': 'United Arab Emirates',
 'GB': 'United Kingdom',
 'US': 'United States',
 'UY': 'Uruguay',
 'UZ': 'Uzbekistan',
 'VU': 'Vanuatu',
 'VE': 'Venezuela',
 'VN': 'Vietnam',
 'YE': 'Yemen',
 'ZM': 'Zambia',
 'ZW': 'Zimbabwe'}

In [35]:
import shutil
for i in range(len(d3)):
    if d3[i][:2] in country_code:
        shutil.move("new_flags/" + d3[i], "country_flags/" + country_dict[d3[i][:2]] + ".png")

In [22]:
#df_big.to_excel("gapminder_revised.xlsx", index = False)